@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White-bg: hsl(0, 0%, 96%, 1);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
     width: 100%;
     min-height: 100vh;
     font-family: "DM Sans", sans-serif;
     background-color: var(--White-bg);
     display: grid;
     place-content: center;
}

.container{
    margin: 0 auto;
    margin-top: 30px;
    width: 85%;
    height: 90%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(8, minmax(80px, 120px));
    grid-auto-rows: 45px;
    gap: 15px;
}

.card{
    width: auto;
    height: auto;
    display: grid;
    place-content: center;
    border-radius: 10px;
    padding: 25px;
    overflow: hidden;
    gap: 30px;
}

.card__1{
    grid-column: 1 / 3;
    grid-row:  1 / 6;
    background-color: var(--Yellow-100);
}

.card__1 h2{
    width: 90%;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    line-height: 25px;
    letter-spacing: -2px;
}

.card__1 h2 span{
    color: var(--Purple-500);
}

.card__1 img{
    width: 140px;
}

.card__2{
    grid-column: 3 / 7;
    grid-row:  1 / 5;
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card__2 h1{
    width: 90%;
    color: var(--White);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing:-2px;
    line-height: 40px;
    margin-bottom: 5px;
}

.card__2 h1 .card__number{
    color: var(--Yellow-500);
}

.card__2 h1 .card__faster{
    font-style: italic;
}

.card__2 p{
    color: var(--White);
    font-size: 0.7rem;
}

.card__2 img{
    width: 130px;
}

.card__3{
    grid-column: 7 / 9;
    grid-row: 1 / 8;
    background-color: var(--Purple-100);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;

}

.card__3 h2{
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: -2px;
}

.card__3 img{
    width: 200px;
}

.card__3 p{
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 18px;
}

.card__4{
    grid-column: 1 / 3;
    grid-row: 6 / 11;
    background-color: var(--Yellow-500);
    gap: 10px;
}

.card__4 h2{
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -2px;
}

.card__4 img{
    width: 150px;
}

.card__5{
    grid-column: 3 / 5;
    grid-row: 5 / 8;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}

.card__5 h2{
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -2px;
}

.card__5 img{
    width: 250px;
}

.card__6{
    grid-column: 5 / 7;
    grid-row: 5 / 8;
    background-color: var(--Yellow-500);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}

.card__6 h2{
    width: 80%;
   font-size: 1.2rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -2px;
}

.card__6 img{
   width: 150px;
   margin-bottom: -90px;
}


.card__7{
    grid-column: 3 / 5;
    grid-row: 8 / 11;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__7 h2{
   font-size: 0.8rem;
   font-weight: 400;
   line-height: 30px;
}

.card__7 h2 span{
   font-size: 2rem;
   font-weight: 500;
}

.card__7 img{
   width: 150px;
}

.card__8{
    grid-column: 5 / 9;
    grid-row: 8 /11;
    background-color: var(--Purple-500);
    display: flex;
    align-items: center;
}

.card__8 h2{
   font-size: 1.3rem;
   font-weight: 500;
   color: var(--White);
   line-height: 20px;
}

.card__8 img{
    width: 150px;
}

@media(max-width: 1300px){
    .container{
        grid-auto-rows: 45px;
    }

    .card__2 h1{
        width: 70%;
        line-height: 37px;
    }

    .card img{
        width: 120px;
    }

    .card__3 img{
        width: 200px;
    }

    .card__5{
        gap: 5px;
    }

    .card__5 img{
        width: 200px;
    }

    .card__6{
        gap: 15px;
    }

    .card__6 h2{
        width: 100%;
    }
}

@media(max-width: 970px){
    .container{
        grid-template-columns: repeat(2, minmax(320px, 400px));
        grid-template-rows: repeat(6, minmax(200px, auto));
    }


    .card__2{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

     .card__2 h1{
        width: 60%;
    }

     .card__5{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

     .card__5 img{
        width: 300px;
     }

     .card__6{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .card__6 img{
        width: 300px;
    }

    .card__6 h2{
        margin-top: 50px;
    }


    .card__3{
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        display: flex;
        flex-direction: column;
    }

     .card__3 img{
        width: 2d50px;
    }

     .card__8{
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        flex-direction: column;
        gap: 20px;
    }

     .card__8 img{
        width: 220px;
        order: 20;
    }
     .card__7{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
     .card__1{
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .card__4{
        grid-column: 1 / 3;
        grid-row: 6 / 7;
        display: flex;
        align-items: center;
    }

    .card__4 img{
        width: 200px;
    }
}


@media(max-width: 700px){
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 50px repeat(17, minmax(100px, 130px));
        margin-top: 30px;
    }

    .card__2{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

     .card__2 h1{
        width: 100%;
    }

     .card__5{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
        width: 100%;
    }

     .card__5 img{
        width: 300px;
     }

     .card__6{
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }

    .card__6 img{
        width: 300px;
    }


     .card__3{
        grid-column: 1 / 2;
        grid-row: 6 / 9;
    }

     .card__8{
        grid-column: 1 / 2;
        grid-row: 9 / 12;
    }

     .card__8 img{
        width: 200px;
        order: 0;
    }
     .card__7{
        grid-column: 1 / 2;
        grid-row: 12 / 13;
        flex-direction: row;
    }
     .card__1{
        grid-column: 1 / 2;
        grid-row: 13 / 15;
    }

    .card__4{
        grid-column: 1 / 2;
        grid-row: 15 / 18;
        flex-direction: column;
    }

    .card__4 img{
        width: 200px;
    }

    .card__4 h2{
        margin-top: 30px;
    }
}

@media (max-width: 425px){
    .container{
        width: 95%;
        margin-top: 30px;
    }

    .card__2 h1{
        font-size: 2rem;
    }

    .card__3 p{
        text-align: center;
    }

    .card__7{
        flex-direction: column;
    }

    .card__8 h2{
        text-align: center;
    }

}